/*Tarjeta*/
.word-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    background: #f9f9f9;
    
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.stroke {
    width: 11%;
}

.hanzi {
    font-size: 30px;
    margin-top: 10px;
}
.pinyin, .significado {
    font-size: 18px;
    margin: 5px 0;
}

.audio {
    height: 40px;
}

/*Titulos*/
#titulo {
    text-align: center;
    margin: 50px 0;
    font-family: 'Playfair Display', serif; /* Puedes usar esta fuente o una similar */
    font-size: 2.8em;
    color: #190C01;
}

